/* Cambiar la fuente del sitio */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* Cambiar el color de fondo del encabezado */
.page-header {
  background-color: #e74c3c; /* rojo */
  color: white; /* texto blanco */
}

/* Cambiar el color de los enlaces */
a {
  color: #e74c3c; /* rojo */
}

a:hover {
  color: #c0392b; /* rojo oscuro al pasar el ratón */
}
