@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* Cambiar colores del tema */
.page-header {
  background-color: #e74c3c; /* rojo */
  color: white;
}

a {
  color: #e74c3c;
}

a:hover {
  color: #c0392b;
}
